:root {
  --brown-light: #f8f1ea;
  --tomato-light: #f16a50;
  --white: #fff;
  --black: #000;
  --dark-dot-inactive: #cac2ba;
  --brown-light: #f8f1ea;
  --brown-dark: #35312d;
}

$brown-light: var(--brown-light);
$tomato-light: var(--tomato-light);
$white: var(--white);
$black: var(--black);
$dark-dot-inactive: var(--dark-dot-inactive);
$brown-light: var(--brown-light);
$brown-dark: var(--brown-dark);
