@import url(https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css);

body {
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #000;
  max-width: 945px;
  margin: 0 auto;
  padding: 33px 0 35px 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav__link {
  text-decoration: none;
  color: #828282;
  font-size: 18px;
  padding: 30px 0;
  letter-spacing: 0.36px;
  transition: all 0.1s ease-in;
  font-weight: 700;
  color: #828282;
}

.nav__link:hover {
  color: #000000;
  transition: all 0.1s ease-in;
}

.nav__link--active {
  color: #000;
}

.container {
  max-width: 945px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__title {
  margin: 33px 0 44px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero__text {
  font-weight: 500;
  padding-bottom: 15px;
  padding-right: 10px;
}

.hero__lang {
  font-size: 16px;
  line-height: normal;
  transform: rotate(-90deg) translateX(35px) translateY(20px);
}

.hero__lang--bold {
  color: #000000;
  font-weight: 700;
}

.hero__img {
  width: 100%;
  margin-bottom: 104px;
}

.about-me {
  background-color: #f6f6f6;
  text-align: center;
  padding: 120px 0 107px 0;
}

.about-me__title {
  margin-bottom: 21px;
}

.about-me__text {
  margin-bottom: 45px;
}

.about-me__text:last-of-type {
  margin-bottom: 0px;
}

h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills {
  text-align: center;
  padding: 91px 0 110px 0;
}

.skills__title {
  margin-bottom: 54px;
}

.skills__text {
  margin-bottom: 89px;
}

.skills__flex {
  display: flex;
  justify-content: center;
  gap: 110px;
}

.app__logo {
  margin-bottom: 19px;
}

.app__name {
  font-weight: 700;
  display: block;
  margin-bottom: 38px;
}

span {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.skills__app:last-of-type .app__name {
  margin-bottom: 58.5px;
}

.app__stars {
  display: flex;
  gap: 11px;
}

.app__stars img {
  width: 21px;
  height: 21px;
}

.portfolio .container {
  max-width: 936px;
}

.portfolio {
  text-align: center;
  background-color: #f6f6f6;
  padding: 107px 0 100px 0;
}

.portfolio__title {
  margin-bottom: 52px;
}

a {
  cursor: pointer;
}

.portfolio__work {
  margin-bottom: 99px;
}

.portfolio__work:last-of-type {
  margin-bottom: 0;
}

.work__link {
  display: block;
  color: black;
  margin-top: 40px;
  font-size: 18px;
  line-height: normal;
}

.work__img {
  width: 100%;
}

.contacts {
  text-align: center;
  padding: 114px 0 123px 0;
}

.contacts__title {
  margin-bottom: 27px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__text--span {
  display: block;
  color: #828282;
  margin-top: 46px;
}

button {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  border-radius: 22px;
  padding: 0 30px;
  height: 44px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.contacts__button {
  margin-bottom: 86px;
}

button:hover {
  transform: scale(1.1);
  color: #000;
  background-color: #828282;
  transition: all 0.1s ease-in;
}

button:active {
  transform: scale(0.95);
  transition: all 0.1s ease-in;
}

.contacts__socials {
  display: flex;
  justify-content: center;
  gap: 60px;
  transition: all 0.1s ease-in;
}

.socials__icon {
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.socials__icon:hover {
  opacity: 0.5;
  transition: all 0.1s ease-in;
}
