body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border: 10px solid #fff;
}

header {
  background-color: #4a4f56;
  color: #ff8984;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-top: 19px;
}

p {
  font-size: 16px;
  line-height: 19px;
  padding: 4px 0 12px 0;
}

h1,
p {
  text-align: center;
}

main {
  background-color: #3b3f45;
  height: 89.4vh;
}

.container {
  margin: 0 auto;
  max-width: 534px;
}

.product-list {
  padding: 20px 0 45px 0;
}

.product-item {
  color: #fff;
  background-color: #88839e;
  font-size: 18px;
  line-height: 21px;
  padding: 11px 0 13px 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

.product-item:nth-child(even) {
  background-color: #7a7593;
}

.product-item small {
  font-size: 11px;
  line-height: 13px;
  vertical-align: middle;
}

button[type="submit"] {
  background-color: #4a4f56;
  color: #ff8984;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  padding: 12px 0 12px 0;
  border: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 16px 0 12px;
  vertical-align: middle;
  background-color: #fff;
}
input[type="checkbox"]:checked + label {
  text-decoration: underline 2px;
  text-underline-offset: -0.4rem;
  text-decoration-skip-ink: none;
  opacity: 0.5;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../icons/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

small::before {
  content: "(";
}

small::after {
  content: ")";
}

.product-item:hover {
  background-color: #625e77;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transition: all 0.1s ease-in;
}

.product-item:active {
  background-color: #ff8984;
  opacity: 0.5;
}
