.modal {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
}

.modal__content {
  padding: 100px;
  text-align: center;
}