body {
  font-family: "Montserrat", sans-serif;
  color: #2f281e;
}

header {
  display: flex;
  padding: 17px 0;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.menu > ul {
  display: flex;
  gap: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 28px;
}

.menu ul li a:hover {
  color: #f90;
  transition: 0.1s ease-in-out;
}

#active {
  color: #f90;
}

button {
  border-radius: 4px;
  padding: 13px 22.5px;
  background-color: #f90;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.button-white {
  background-color: #fff;
  border: 1px solid #bcd0e5;
  margin-right: 27px;
  padding: 13px 26px;
  color: #2f281e;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#hero {
  padding-top: 70px;
}

#hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero img {
  width: 100%;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}

.intro h1 {
  margin-bottom: 30px;
}

.intro p {
  margin-bottom: 30px;
}

.button-large {
  padding: 13px 43.5px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
