.our-team
  &__header
    text-align center

  &__subtitle
    font-family 'Raleway', sans-serif
    text-transform uppercase
    margin-bottom 15px
    color subtitle
    font-weight 500
    line-height 1.5rem
    font-size 1.125rem

  &__icon-container
    flex-center()
    column-gap 5px

    &::before, &::after
      empty-content-block()
      width 210px
      height 1px
      background-color gold-color

    margin-top 30px
    margin-bottom 30px