.footer {
  background-color: $light-grey-color;
  padding-top: 70px;
  padding-bottom: 30px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__info-and-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include tablet {
      flex-direction: column;
      gap: 40px;
      margin-bottom: 40px;
    }
  }

  &__heading {
    line-height: remify(64px);
    margin-bottom: 30px;

    @include mobile {
      font-size: remify(32px);
      letter-spacing: remify(1.6px);
    }

    @include tablet {
      text-align: center;
    }
  }

  &__socials {
    display: flex;
    gap: 23px;
  }

  &__social {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid $grey-darker-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $grey-darker-color;
    }

    &:hover .social__icon {
      fill: $white-color;
    }

    transition: 0.3s ease-in-out;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $black-color;
    line-height: 166%;
    letter-spacing: remify(1.6px);

    &:first-of-type {
      margin-bottom: 10px;
    }

    @include tablet {
      text-align: center;
    }
  }

  &__copyright {
    font-size: remify(12px);
    text-align: center;
    line-height: 166%;
    letter-spacing: remify(1.2px);

    @include mobile {
      font-size: remify(16px);
    }
  }
}

.social {
  &__icon {
    width: 24px;
    height: 24px;
    fill: $grey-darker-color;
    transition: 0.3s ease-in-out;
  }
}
