.popular {
  &__container {
    @extend .posts__container;
    margin-bottom: 90px;

    @include tablet() {
      margin-bottom: 65px;
    }

    @include mobile() {
      margin-bottom: 75px;
    }
  }

  &__heading {
    @extend .posts__heading;
  }

  &__heading-container {
    @extend .posts__heading-container;
  }

  &__view-link {
    @extend .posts__view-link;
  }

  &__articles {
    display: flex;
    gap: 30px;
    margin-bottom: 14px;

    @include tablet() {
      margin-bottom: none;
      gap: 20px;
    }

    @include mobile() {
      flex-wrap: wrap;
      gap: 50px;
    }
  }

  &__article {
    flex-basis: 50%;
    gap: 20px;

    @include tablet() {
      height: 500px;
    }

    @include mobile() {
      flex-wrap: wrap;
      flex-basis: 100%;
      height: auto;
    }
  }

  &__btn {
    display: block;
    align-self: center;
  }
}

.article {
  &__text-container--popular {
    @extend .article__text-container--posts;
  }

  &__tags,
  &__date {
    &--popular {
      @extend .article__tags--posts, .article__date--posts;
    }
  }

  &__tags-and-date--popular {
    margin-top: 20px;
  }

  &__heading {
    &--popular {
      font-size: remify(24px);
      font-weight: 500;
      line-height: 166%;
      letter-spacing: remify(2.4px);

      @include tablet() {
        font-size: remify(22px);
        letter-spacing: remify(2.2px);
      }
    }
  }

  &__text--mobile-visible {
    display: none;

    @include mobile() {
      display: block;
      margin-top: 10px;
    }
  }
}
